
main {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

#games {
  width: 100%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;

  display: inline-block;
}


#chatBox {
  width: 100%;
  height: 300px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;

}


p {
  margin:0;
  padding:0;
  padding-top: 5px;
  padding-left: 10px;
  font-size:13px;
  line-height:15px;
}


form {
  text-align: center;
  display: flex;
  width: 100%;
  margin: auto;
}


button {
  border: none;
  color: #0a93f6;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
}

input {
  width: 100%;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  padding: 5px;
}

.gameBtn{
  width:75px;
  height:75px;
  border: solid 1px #e5e5eb;
  border-radius: 10px;

}


#question{
  width: 100%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;

  display: inline-block;
}
#names{
  width: 100%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  display: inline-block;

}
#universalNames{
  width: 100%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  display: inline-block;

}
.leftSide {
  float: left;
  width: 80%;
}
.rightSide {
  float: right;
  width: 20%;
}