
main {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

#games {
  width: 100%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  display: inline-block;
}


#chatBox {
  width: 100%;
  height: 300px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;

}


p {
  margin:0;
  padding:0;
  padding-top: 5px;
  padding-left: 10px;
  font-size:13px;
  line-height:15px;
}


form {
  text-align: center;
  display: flex;
  width: 100%;
  margin: auto;
}


button {
  border-radius: 10px;
  color: #0a93f6;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
}

.submitBox {
  width: 100%;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  padding: 5px;
}

.gameBtn{
  width:auto;
  height:75px;
  border: solid 1px #e5e5eb;
  border-radius: 10px;

}

#img {
  float: right;
  width: 0%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  display: none;
}

.leftSide {
  clear: both;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

#question{
  width: 100%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  float: left;
  display: inline-block;
}
#questionStatement {
  font-size: x-large;
  line-height: 1.5em;
}
#names{
  width: 100%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  display: inline-block;

}
#universalNames{
  width: 100%;
  height: 400px;
  overflow: scroll;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  display: inline-block;

}
.leftSide {
  float: left;
  width: 80%;
}
.rightSide {
  float: right;
  width: 20%;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
